<launch>

    <arg name="ctrl_ns" default="/ctrl_mpc_linearized"/>
    <group ns="$(arg ctrl_ns)">
        <node pkg="agimus_controller" name="hpp_corbaserver" type="hpp_corbaserver" />
        <include file="$(find agimus_controller)/launch/record_rosbag.launch"/>
        <node pkg="agimus_controller" name="agimus_controller_node"
        type="agimus_controller_node" launch-prefix="xterm -e"/>
        <rosparam command="load" file="$(find agimus_controller)/config/mpc_params.yaml"
        subst_value="true" />
    </group>
</launch>
