<launch>
    <node pkg="rosbag" type="record" name="rosbag_record_mpc"
          args="record -o /tmp/rosbag_record_mpc /ctrl_mpc_linearized/ocp_solve_time
                /ctrl_mpc_linearized/ocp_x0
                /ctrl_mpc_linearized/state
                /ctrl_mpc_linearized/happypose_pose
                /hpp/target/position
                /hpp/target/velocity
                /hpp/target/acceleration
                /sensor_force"
    />
   </launch>
